# Dependencies
node_modules
pnpm-lock.yaml
yarn.lock

# Build
dist
out
build

# Testing
coverage

# System
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Tool Output
AI_BRAIN/
